In [2]:
import pandas as pd

data = {"Company":["HP","Amazon", "IBM", "Intel"],
    "Headquarters":["California","New York","California","Washington"],
    "CEO":["Weisler","Bezos","Rometty","Swan"]}

In [3]:
# Convert dict to DF
tech_company_df = pd.DataFrame(data)
tech_company_df

  Company Headquarters      CEO
0      HP   California  Weisler
1  Amazon     New York    Bezos
2     IBM   California  Rometty
3   Intel   Washington     Swan

## Iterate a DF

In [4]:
# Iterate DF by rows
for row in tech_company_df.itertuples():
    print("Company:", row.Company)
    print("CEO:", row.CEO,"\n")
    print("Headquarters:",row[1]) #access by indexing is also possible

Company: HP
CEO: Weisler

Headquarters: HP
Company: Amazon
CEO: Bezos

Headquarters: Amazon
Company: IBM
CEO: Rometty

Headquarters: IBM
Company: Intel
CEO: Swan

Headquarters: Intel

In [5]:
# Iterate DF by rows
for row_index, row in tech_company_df.iterrows():
    print("Row contents in Row {}:\n{}\n".format(row_index,row))

Row contents in Row 0:
Company                 HP
Headquarters    California
CEO                Weisler
Name: 0, dtype: object

Row contents in Row 1:
Company           Amazon
Headquarters    New York
CEO                Bezos
Name: 1, dtype: object

Row contents in Row 2:
Company                IBM
Headquarters    California
CEO                Rometty
Name: 2, dtype: object

Row contents in Row 3:
Company              Intel
Headquarters    Washington
CEO                   Swan
Name: 3, dtype: object

In [6]:
# Iterate DF by columns
for key, value in tech_company_df.iteritems():
    print("Column contents in Column {}:\n{}\n".format(key,value))

Column contents in Column Company:
0        HP
1    Amazon
2       IBM
3     Intel
Name: Company, dtype: object

Column contents in Column Headquarters:
0    California
1      New York
2    California
3    Washington
Name: Headquarters, dtype: object

Column contents in Column CEO:
0    Weisler
1      Bezos
2    Rometty
3       Swan
Name: CEO, dtype: object

## Exporting DF to different formats

In [11]:
# Export to an EXCEL file
tech_company_df.to_excel('./datasets/Tech_Company.xlsx', index=False)
print("DF exported to Excel file.")
# Export to an TEXT file
tech_company_df.to_csv('./datasets/Tech_Company.txt', index=False)
print("DF exported to TEXT file.")
# Export to an CSV file
tech_company_df.to_csv('./datasets/Tech_Company.csv', index=False)
print("DF exported to CSV file.")
# Export to an JSON file
tech_company_df.to_json('./datasets/Tech_Company.json')
print("DF exported to JSON file.")
# Export to an HTML file
tech_company_df.to_html('./datasets/Tech_Company.html')
print("DF exported to HTML file.")

DF exported to Excel file.
DF exported to TEXT file.
DF exported to CSV file.
DF exported to JSON file.
DF exported to HTML file.